.wrapper {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEFEFE;
}

.card {
  width: calc(100vw - 20vh);
  height: 80vh;
}

h2{
  display: inline-block;
  line-height: 40px;
  border-bottom: 3px solid black;
}
