.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEFEFE;
}

.card {
  height: 80vh;
}

h2{
  display: inline-block;
  line-height: 40px;
  border-bottom: 3px solid black;
}

img{
  height: 100%;
}
