.footer{
  height: 100vh;
  width: 100vw;
  background-color: #001100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h1{
  font-size: 50vh;
  line-height: 100vh;
  color: white;
  margin: 0;
  padding:0;
}
